@model Application.DTO.LocaleTableDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LocaleTableDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocaleId" class="control-label"></label>
                <select class="form-control" name="LocaleId">
                    @foreach (var c in ViewBag.Locales)
                    {
                        @if (c.Id == Model.LocaleId)
                        {
                            <option value="@c.Id" selected>@c.Name</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Name</option>
                        }

                    }
                </select>
                <span asp-validation-for="LocaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSeats" class="control-label"></label>
                <input asp-for="NumberOfSeats" class="form-control" />
                <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
